@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

* {
	margin: 0;
	padding: 0;
}
body {
	text-align: left;
	color: white;
	background: url(../images/beachoffice.jpg);
	background-size: cover;
	margin-top: 50px;
	margin-left: 20px;
		}
	h1 {
	font-weight: normal;
	font-size: 48px;
	font-family: 'Josefin Slab', serif;
	margin: 0px;
	}
#slogan {
	margin: 0px;
	font-size: 1.5em;
	font-family: 'Josefin Slab', serif;
}
hr {width: 500px;
	margin-bottom: 10px;
		}
#about {
	font-size: 1em;
	font-family: 'Alegreya Sans', sans-serif;
	width: 500px;
	text-align: justify;
	}

footer {
	height: 50px;
	color: black;
    text-align: right;
    margin-bottom: 20px;
    }
a {
     color: black;
     font-family: 'Alegreya Sans', sans-serif; }